div.container-fluid {
    height: 100vh;
    background: url("../img/retrosupply-jLwVAUtLOAQ-unsplash.jpg") no-repeat center/cover;
}

ul.nav {
    position: fixed;
    top: 2rem;
}

div.wrap {
    position: relative;
    max-width: 100%;
    width: 40%;
}



label {
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 3px 3px 10px rgb(46, 45, 45),
    -1px -1px 6px rgb(42, 33, 33);
}
h2{
    color: yellow;
}

input,
select,
option {
    
    box-shadow:
        3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(51, 50, 50, 0.4);
}



button {
    background-color: #2c4944!important;
    font-size: 1.5rem!important;
    width: 8rem;
    color: yellow!important;
}
button:focus {
    box-shadow: 5px 5px 10px yellow, -5px -5px 5px yellow!important;

    /* box-shadow: 5px 5px 10px #acacac inset, -5px -5px 5px white inset; */

}
